[Unit]
Description=Run Daily Firehose PostgreSQL backup at 00:00 and 12:00 UTC

[Timer]
OnCalendar=*-*-* 00,12:00:00 UTC
Persistent=true
AccuracySec=1min
Unit=daily-firehose-postgresql-backup.service

[Install]
WantedBy=timers.target
